*{
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--concert-one-regular);
}
body{
    margin: 0px;
    background-color: var(--cyan-100);

}
:root{
    --concert-one-regular: "Concert One", sans-serif;
    --cyan-50: #ecfeff;
    --cyan-100: #cffafe;
    --cyan-200:#a5f3fc;
    --cyan-300: #67e8f9;
    --cyan-400: #22d3ee;
    --cyan-500: #06b6d4;
    --cyan-600: #0891b2;
    --cyan-700: #0e7490;
    --cyan-800: #155e75;
    --cyan-900: #164e63;
    --cyan-950: #083344;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    min-height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cyan-950);
    color: var(--cyan-50, white);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 21px;
}
nav a{
    background-color: var(--cyan-700);
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 15px;
    border: 2px solid transparent;
}

nav a:hover{
    transform: scale(1.06);
    transition: transform 0.5s ease-in-out;
}
#toggleDialogueContainer{
    display: flex;
    justify-content: center;
    height: 100px;
}
#toggleDialogue{
    border: 0px;
    background-color: transparent;
    font-size: 20px;
}
dialog{
    border: 0px;
    border-radius: 20px;
}

#closeDialogueContainer{
    position: absolute;
    margin: 0;
    right: 10px;
    top: 10px ;
    z-index: 1;
}
dialog img{
    width: 21px;
}
dialog{
    margin-top: 100px;
}
dialog form{
    padding: 10px;
    width: 350px;
    position: relative;


}
dialog form label{
    font-size: 20px;
}
dialog form div{
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
    align-items: center;
    gap: 5px;
    color: var(--cyan-950);
}
dialog form div input, select, button{
    background-color: rgb(240, 235, 235);
    border: 0px;
    border-radius: 6px;
    padding: 5px;
    min-height: 37px;
    width: 100%;
    font-size: 18px;
}
dialog form button{   
    background-color: #f2fafa;
    background-color: var(--cyan-950);
    color: var(--cyan-50);
    font-size: 20px;
   
}
main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}
.card{
   flex-basis: 300px;
   background-color: white; 
   display: flex;
   flex-direction: column;
   align-items: center;
   /* height: 300px; */
   border-radius: 25px;
   box-shadow: 0.5px 0.5px 5px var(--cyan-200);
   padding: 15px;
   font-size: 18px;
}

.card button{
    width: 100%;
    padding: 5px;
    background-color: var(--cyan-600);
    color: var(--cyan-50);
}
.card button:last-child{
    background-color: #083344;
    margin-top: 10px;
}
